@charset "UTF-8";

.navtabs__header {
  // border: 1px solid red;
  display: flex;
  width: 352px;
  height: 32px;
}

.navtabs__btn {
  flex-grow: 1;
  text-align: center;
  border-bottom: 5px solid rgba(226, 228, 228, 1);
  cursor: pointer;
  @include noto-sans-tc-16-medium;
  
  &.current {
    border-bottom: 5px solid rgba(232, 180, 103, 1);
  }
}