@charset "UTF-8";

.w-100{
    width: $w-100;
}
.w-90{
    width: $w-90;
}
.w-80{
    width: $w-80;
}
.w-75{
    width: $w-75;
}
.w-70{
    width: $w-70;
}
.w-60{
    width: $w-60;
}
.w-50{
    width: $w-50;
}
.w-40{
    width: $w-40;
}
.w-30{
    width: $w-30;
}
.w-25{
    width: $w-25;
}
.w-20{
    width: $w-20;
}
.w-10{
    width: $w-10;
}

.vw-100{
    width: $vw-100;
}
.vw-90{
    width: $vw-90;
}
.vw-80{
    width: $vw-80;
}
.vw-75{
    width: $vw-75;
}
.vw-70{
    width: $vw-70;
}
.vw-60{
    width: $vw-60;
}
.vw-50{
    width: $vw-50;
}
.vw-40{
    width: $vw-40;
}
.vw-30{
    width: $vw-30;
}
.vw-25{
    width: $vw-25;
}
.vw-20{
    width: $vw-20;
}
.vw-10{
    width: $vw-10;
}

.vh-100{
    height: $vh-100;
}
.vh-90{
    height: $vh-90;
}
.vh-80{
    height: $vh-80;
}
.vh-75{
    height: $vh-75;
}
.vh-70{
    height: $vh-70;
}
.vh-60{
    height: $vh-60;
}
.vh-50{
    height: $vh-50;
}
.vh-40{
    height: $vh-40;
}
.vh-30{
    height: $vh-30;
}
.vh-25{
    height: $vh-25;
}
.vh-20{
    height: $vh-20;
}
.vh-10{
    height: $vh-10;
}

.h-82 {
    height: 480px;
}

.tg-75{
    margin-left: 22.5vw !important;
    width: $vw-75 !important;
}





