@charset "UTF-8";

$w-100:100%;
$w-90:90%;
$w-80:80%;
$w-75:75%;
$w-70:70%;
$w-60:60%;
$w-50:50%;
$w-40:40%;
$w-30:30%;
$w-25:25%;
$w-20:20%;
$w-10:10%;

$vm-100:100vm;
$vm-90:90vm;
$vm-80:80vm;
$vm-75:75vm;
$vm-70:70vm;
$vm-60:60vm;
$vm-50:50vm;
$vm-40:40vm;
$vm-30:30vm;
$vm-25:25vm;
$vm-20:20vm;
$vm-10:10vm;

.w-100{
    width: $w-100;
}
.w-90{
    width: $w-90;
}
.w-80{
    width: $w-80;
}
.w-75{
    width: $w-75;
}
.w-70{
    width: $w-70;
}
.w-60{
    width: $w-60;
}
.w-50{
    width: $w-50;
}
.w-40{
    width: $w-40;
}
.w-30{
    width: $w-30;
}
.w-25{
    width: $w-25;
}
.w-20{
    width: $w-20;
}
.w-10{
    width: $w-10;
}

.vm-100{
    width: $vm-100;
}
.vm-90{
    width: $vm-90;
}
.vm-80{
    width: $vm-80;
}
.vm-75{
    width: $vm-75;
}
.vm-70{
    width: $vm-70;
}
.vm-60{
    width: $vm-60;
}
.vm-50{
    width: $vm-50;
}
.vm-40{
    width: $vm-40;
}
.vm-30{
    width: $vm-30;
}
.vm-25{
    width: $vm-25;
}
.vm-20{
    width: $vm-20;
}
.vm-10{
    width: $vm-10;
}





