.input-box {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    position: relative;
    .input-icon{
        position: absolute;
        top: 10px;
        left: 10px;
        width: 14px;
        height: 14px;
    }
    .filterBox{
        position: absolute;
        background: #FFF;
        width: $w-90;
        top: 36px;
        z-index: 1000;
        padding: 10px 5%;
        max-height: 150px;
        overflow: auto;
        border: 1px solid #959595;
        &.vertical{
            top:60px;
        }
        &.horizontal{
            width: $w-50;
            top:60px;
            right: 0;
        }
        ul{
            li{
                // height: 20px;
                line-height: 20px;
                @include noto-sans-tc-16-regular;
            }
        }
        &::-webkit-scrollbar{
            width: 6px;
            height: 6px;
        }
        &::-webkit-scrollbar-track{
            background: #FFF;
        }
        &::-webkit-scrollbar-thumb{
            background: #A1BFB8;
        }
    }
}
.input-title-box {
    margin-bottom: 2px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    align-self: stretch;
}
.error-circle {
    margin-right: 4px;
    padding: 1.58px 1.59px 1.59px 1.58px;
    display: flex;
    align-items: center;
    width: 15.83px;
    height: 15.83px;
}
.vector {
    //width: 100%;
    align-self: stretch;
    object-fit: cover;
}
.error-hint-text {
    color: $caution-red;
    @include noto-sans-tc-12-regular;
}
.inputType {
    background-color: $white;
    border-radius: 5px;
    padding: 8px 9px;
    margin: 0 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    border: 1px solid $input-gray;
    align-self: stretch;
    &.inputError{
        border: 1px solid $caution-red;
        color: $caution-red;
        &::placeholder {
            color: $caution-red;
        }
    }
    &:hover {
        border: 1px solid $main-green;
    }
    &:active,&:focus,&:visited {
        outline:none;
        border: 1px solid $main-green !important;
        box-shadow: 0 0 4px 0 $dark-sea-green;
        color: #000;
    }
    &::placeholder {
        line-height: 16px;
        height: 16px;
        font-size: 16px;
        font-weight: bold;
    }
    &:disabled{
        background: #DBE4E2;
        border-radius: 5px;
    }
    &.isIcon{
        padding-left: 28px;
    }
}
.dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    margin: 3px 0;
    position: relative;
    select{
        border-radius: 5px;
        align-items: center;
        justify-content: center;
        border: 1px solid $input-gray;
        align-self: stretch;
        flex: 1;
        font-family: Noto Sans TC;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 23px;
        padding: 5px;
        color: #959595;
        &:active,&:focus,&:visited {
            outline:none;
            border: 1px solid $main-green !important;
            box-shadow: 0 0 4px 0 $dark-sea-green;
        }
    }
}
.input-text {
    color: $caution-red;
    flex: 1;
    @include noto-sans-tc-16-regular;
}

.checkBoxOption{
    @include noto-sans-tc-16-regular;
    input[type="checkbox"] {
      display:none;
    }
    input[type="checkbox"] + label
    {
      height: 14px;
      width: 14px;
      display:inline-block;
      margin: 0 5px;
      cursor: pointer;
      @include checkbox;
    }
    input[type="checkbox"]:checked + label
    {
      background: url("~/assets/img/check.svg");
      height: 14px;
      width: 14px;
      display:inline-block;
      margin: 0 5px;
      cursor: pointer;
    }
}

