<?xml version='1.0' encoding='UTF-8'?>
<WebGIS>
  <MapperConfig>
    <Title>canal</Title>
    <sTitle>
    </sTitle>
    <Logo>
    </Logo>
    <Coordinate>WGS 84 / Pseudo-Mercator</Coordinate>
    <MapSource>
      <Source>
        <Name>canal_3857</Name>
        <Coordinate>WGS 84 / Pseudo-Mercator</Coordinate>
        <Url>192.168.3.112</Url>
        <UserPass>4396a9b4105743bda030313a3802ed11</UserPass>
        <CoordinatePRJ>
        </CoordinatePRJ>
      </Source>
    </MapSource>
    <WebMapperStyle>
      <TableContents>Drawer</TableContents>
      <ColorStyle>
        <Text>#FFFFFF</Text>
        <Header>#0E5743</Header>
        <Button>#0E5743</Button>
        <ButtonSelected>
        </ButtonSelected>
      </ColorStyle>
      <View>Side</View>
    </WebMapperStyle>
    <Widget>
      <DefaultTools>Identify,Coordinate,IndexMap,ScaleBar,LayerList</DefaultTools>
      <CustomTools>Basemap,Print,Draw,Measure,Query,Swipe,CoordinateSys,Geo-process</CustomTools>
    </Widget>
    <CurrentExtent>
      <CenterX>13555869.924963</CenterX>
      <CenterY>2849843.3291817</CenterY>
      <Scale>0.140515669166007</Scale>
    </CurrentExtent>
    <DefaultToolOption>
      <Identify />
      <IndexMap>TopLeft</IndexMap>
      <ScaleBar>
        <ScaleUnit>English</ScaleUnit>
        <ScaleStyle>Block</ScaleStyle>
      </ScaleBar>
    </DefaultToolOption>
    <CustomToolOption>
      <BaseMap>
        <Item>
          <Type>OSMBaseMap</Type>
          <Title>OpenStreetMap Standard</Title>
        </Item>
      </BaseMap>
      <Measure />
    </CustomToolOption>
  </MapperConfig>
</WebGIS>